%p#notice= notice

%p
  %b Firstname:
  = @student.firstname
%p
  %b Lastname:
  = @student.lastname
%p
  %b Mobile:
  = @student.mobile
%p
  %b Dateofbirth:
  = @student.dateofbirth

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
